.gradient-text {
    background-color: red;
    background-image: linear-gradient(to right, rgba(88,9,108,1) 0%, rgba(79,13,109,1) 45%, rgba(47,36,134,1) 57%, rgba(42,40,138,1) 59%, rgba(15,54,153,1) 100%);
    ;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.gradient-span {
    background-color: #6c36d8;
    background-image: linear-gradient(#FFFFFF, #ffffff, #ffffff);
    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#but:hover, #but:hover span {
    animation: button-animation-rev 0.65s ease-out forwards;
}

#but:hover {
    box-shadow: 3px 2px 10px 1px rgba(0,0,0,0.15);
    transition: 0.5s;
}

@keyframes button-animation {
    0% {
        background-position: top right;
    }

    100% {
        background-position: top left;
    }
}

@keyframes button-animation-rev {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}
#but {
    animation: button-animation 0.65s 0.15s ease-out forwards;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(88,9,108,1) 0%, rgba(79,13,109,1) 45%, rgba(47,36,134,1) 57%, rgba(42,40,138,1) 59%, rgba(15,54,153,1) 100%);
    ;
    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;
    animation: button-animation 0.65s 0.15s ease-out forwards;
    display: table;
    border-radius: 0.5em;
    text-decoration: none;
    box-shadow: 7px 4px 20px 1px rgba(0,0,0,0.15);
    padding: 1.0em 0;
    cursor: pointer;
}
    #but span {
        font-family: "Archivo Black", sans-serif;
        font-weight: normal;
        font-size: 2em;
        text-align: center;
        margin-bottom: 0;
        margin-bottom: -0.25em;
        width: 50%;
        padding: 0 1.0em;
    }
body {
    background-color: #FFFFFF;
}
